.container{
    background-color:;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 30px 30px 20px  20px;
}
div{
    border-radius: 5px 5px 5px;
}
.sec1{
    border: solid;
}
.sec2{
    border: solid;
}
.sec3{
    border: solid;
}